div(style='padding:10px;background:#eee;margin-bottom:20px;text-align:center')
	a(href='/')
		h1 My Simple Blog
//- nav.navbar.navbar-default
//- 	div.container-fluid
//- 		div.navbar-header
//- 			a.navbar-brand(href='/user/create') new user
