.input-group{
	margin-bottom: 1%;
}

.container{
	padding-top: 30px;
}

.centered-text{
	text-align: center;
}

#submit{
	margin-left: auto;
	margin-right: auto;
}

.has-success{
	border: 1px solid green;
}
.has-error{
	border: 1px solid red;
}

.comments{
	background: #eee;
	padding:5px;
}

.spaced{
	margin: 1%;
}

.spaced-but-top{
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}

.bordered-but-top{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.padded{
	padding:1%;
}