extend ../layout

block content
	.col-sm-9
		each post in posts
			include ../partials/post
	.col-sm-3.panel
		.panel.panel-default
			.panel-heading.panel-title
				Recent Posts
			ul
				li Post one
				li Post two
				li Post three
				li Post four
		.panel.panel-default
			.panel-heading.panel-title
				Recent Posts
			ul
				li Post one
				li Post two
				li Post three
				li Post four
		.panel.panel-default
			.panel-heading.panel-title
				Recent Posts
			ul
				li Post one
				li Post two
				li Post three
				li Post four