extend ../layout

block content
	include ../partials/post
	div.comments
		h4 Comments of users
		ul
			each comment in comments?comments:["no comments to show"]
				li(style="margin-left:20px;margin-bottom:10px;")= comment.body
		ul
		form(method='post',action='/comments/add/'+post.id)
			div.col-sm-10
				textarea.form-control#comment(name="body",placeholder="Enter your comment...",class='form-control')
			input(type="submit",class="col-sm-2 btn btn-primary",style='height:52px')
			div.clearfix